import React from 'react';

export default function {{name}}(props) {
  // TODO: Implement {{name}} {{type}}
  return (
    <div>
      <h2>{{name}}</h2>
      <p>This is a new {{type}} component.</p>
    </div>
  );
}